@using System.Collections
@using System.Globalization
@using ProjectCore.Models;

@model ProjectCore.Models.TasksList;

@{
    ViewData["Title"] = "Kanban board";
}

<div class="tables" align="center">
    <div class="table-column">
        <table class="task-view">
            <tr>
                <th>To do</th>
            </tr>
            @foreach (var todo in Model._tasksList)
            {
             if(todo.state == 0)
             {
                <tr>
                    <td>
                       <div class="task-block" id="@todo.Id" onclick="location.href='Task/Edit/@todo.Id'">
                            <div class="task-block-sections">
                                <div class="section-name">@todo.name</div>
                                <br/>
                                <div class="section-date">@todo.DateOfCreation.ToString("dd-MMM-yyyy HH:mm", CultureInfo.InvariantCulture)</div>
                                <br/>
                                <div class="section-reporter">Zlecający: @todo.reporter
                                </div>
                                <div class="section-id">@todo.Id</div>
                                @if (todo.type.Id == 1)
                                {
                                    <div class="section-type"><img src="~/images/support.png"/></div>
                                }
                                @if (todo.type.Id == 2)
                                {
                                <div class="section-type"><img src="~/images/subtask.png"/></div>
                                }
                                @if (todo.type.Id == 3)
                                {
                                    <div class="section-type"><img src="~/images/task.png"/></div>
                                }
                                @if (todo.type.Id == 4)
                                {
                                    <div class="section-type"><img src="~/images/epic.png"/></div>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
                }
            }
        </table>
    </div>
    <div class="table-column">
        <table class="task-view">
            <tr>
                <th>In Progress</th>
            </tr>
            @foreach (var inprogress in Model._tasksList)
            {
                if(inprogress.state == 1)
                {
                    <tr>
                        <td>
                            <div class="task-block" id="@inprogress.Id" onclick="location.href='Task/Edit/@inprogress.Id'">
                                <div class="task-block-sections">
                                    <div class="section-name">@inprogress.name</div>
                                    <br/>
                                    <div class="section-date">@inprogress.DateOfCreation.ToString("dd-MMM-yyyy HH:mm", CultureInfo.InvariantCulture)</div>
                                    <br/>
                                    <div class="section-reporter">Zlecający: @inprogress.reporter
                                    </div>
                                    <div class="section-id">@inprogress.Id</div>
                                    @if (inprogress.type.Id == 1)
                                    {
                                        <div class="section-type"><img src="~/images/support.png"/></div>
                                    }
                                    @if (inprogress.type.Id == 2)
                                    {
                                        <div class="section-type"><img src="~/images/subtask.png"/></div>
                                    }
                                    @if (inprogress.type.Id == 3)
                                    {
                                        <div class="section-type"><img src="~/images/task.png"/></div>
                                    }
                                    @if (inprogress.type.Id == 4)
                                    {
                                        <div class="section-type"><img src="~/images/epic.png"/></div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="table-column">
        <table class="task-view">
            <tr>
                <th>Awaiting</th>
            </tr>
            @foreach (var awaiting in Model._tasksList)
            {
                if(awaiting.state == 2)
                {
                    <tr>
                        <td>
                            <div class="task-block" id="@awaiting.Id" onclick="location.href='Task/Edit/@awaiting.Id'">
                                <div class="task-block-sections">
                                    <div class="section-name">@awaiting.name</div>
                                    <br/>
                                    <div class="section-date">@awaiting.DateOfCreation.ToString("dd-MMM-yyyy HH:mm", CultureInfo.InvariantCulture)</div>
                                    <br/>
                                    <div class="section-reporter">Zlecający: @awaiting.reporter
                                    </div>
                                    <div class="section-id">@awaiting.Id</div>
                                    @if (awaiting.type.Id == 1)
                                    {
                                        <div class="section-type"><img src="~/images/support.png"/></div>
                                    }
                                    @if (awaiting.type.Id == 2)
                                    {
                                        <div class="section-type"><img src="~/images/subtask.png"/></div>
                                    }
                                    @if (awaiting.type.Id == 3)
                                    {
                                        <div class="section-type"><img src="~/images/task.png"/></div>
                                    }
                                    @if (awaiting.type.Id == 4)
                                    {
                                        <div class="section-type"><img src="~/images/epic.png"/></div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="table-column">
        <table class="task-view">
            <tr>
                <th>Testing</th>
            </tr>
            @foreach (var testing in Model._tasksList)
            {
                if(testing.state == 3)
                {
                    <tr>
                        <td>
                            <div class="task-block" id="@testing.Id" onclick="location.href='Task/Edit/@testing.Id'">
                                <div class="task-block-sections">
                                    <div class="section-name">@testing.name</div>
                                    <br/>
                                    <div class="section-date">@testing.DateOfCreation.ToString("dd-MMM-yyyy HH:mm", CultureInfo.InvariantCulture)</div>
                                    <br/>
                                    <div class="section-reporter">Zlecający: @testing.reporter
                                    </div>
                                    <div class="section-id">@testing.Id</div>
                                    @if (testing.type.Id == 1)
                                    {
                                        <div class="section-type"><img src="~/images/support.png"/></div>
                                    }
                                    @if (testing.type.Id == 2)
                                    {
                                        <div class="section-type"><img src="~/images/subtask.png"/></div>
                                    }
                                    @if (testing.type.Id == 3)
                                    {
                                        <div class="section-type"><img src="~/images/task.png"/></div>
                                    }
                                    @if (testing.type.Id == 4)
                                    {
                                        <div class="section-type"><img src="~/images/epic.png"/></div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
